html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

#player {
	position: absolute;

	top: 50%;
	left: 50%;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	width: 40px;
	height: 40px;
	
	background-color: black;
	border-radius: 20px;
}

#controller {
	margin: 20px;

	width: 100px;

	border: 1px solid black;
}

ul {
	padding: 0;

	text-align: center;
	list-style-type: none;
}
ul li {
	margin: 10px;
}

.button {
	width: 80px;
	height: 20px;

	border: 1px solid black;
	border-radius: 10px;
}
